{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="static/css/torrey.css">
<div class="homeContent">
    <h1 class="title" id="wikichess-title">
        <span class="highlight first-letter">W</span>IKICHES<span class="highlight last-letter">S</span>
    </h1>
    <p class="subtitle">Wiki-racer but better</p>
    <div class="buttons">
        <div class="button">
            <span class="button-text" onclick="localPlay()">Local Play!!</span>
        </div>
        <div class="button">
            <span class="button-text" onclick="onlinePlay()">Online Play!!</span>
        </div>
    </div>
</div>


<script>
    function localPlay() {
        // Add your local play functionality here
       window.location.href = 'http://localhost:5000/local';
    }

    function onlinePlay() {
        // Add your online play functionality here
        window.location.href = 'http://localhost:5000/online';
    }
</script>

{% endblock %}