{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="static/css/torrey.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<style>
    .bgSvg{
        position: absolute;
        top: 0;
        right:0;
        bottom:0;
        left:0;
        z-index: -10;
    }
    .tooltip{
        width: 425px;
        min-height: 200px;
        padding: 15px;
        font-size: 25px;
        background: white;
        box-shadow: 0 30px 90px -20px rgba(0,0,0);
        position:absolute;
        z-index: 100;
        display: none;
        opacity: 0;

    }
    .fade-in{
        display: block;
        animation: fade 0.2 linear forwards;
    }
    @keyframes fade{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    
</style>
<svg class="bgSvg" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">

</svg>

<div class="homeContent">
    <h1 class="title" id="wikichess-title">
        <span class="highlight first-letter">W</span>IKI<span class="highlight">C</span>HESS
    </h1>

    <div class="tooltip">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore dolore consequuntur iste cum accusamus. Provident omnis, saepe nostrum tempora est dignissimos maiores unde enim consequatur exercitationem quas officia alias natus!
    </div>
    <div class="buttons">
        <div class="button">
            <span class="button-text" onclick="localPlay()">Local</span>
        </div>
        <div class="button">
            <span class="button-text" onclick="onlinePlay()">Online</span>
        </div>
    </div>
</div>


<script>
    const tooltips = Array.from(document.querySelectorAll('.tooltip'));
    function localPlay() {
        // Add your local play functionality here
       window.location.href = 'http://127.0.0.1:5000/local';
    }

    function onlinePlay() {
        // Add your online play functionality here
        window.location.href = 'http://127.0.0.1:5000/online';
    }
</script>

{% endblock %}