<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Moves</title>
    <link rel="stylesheet" href="../static/css/torreyBlackTurn.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Black Moves</h1>
        <div class="buttons">
            <button class="button" onclick="guess()">Guess!!</button>
            <button class="button" onclick="play()">Play!!</button>
        </div>
    </div>

    <div style="display: none;" id="url">{{ url }}</div>

    <!-- Adding animated chess piece images -->
    <div class="shape knight" style="top: 10%; left: 20%;"></div>
    <div class="shape rook" style="top: 25%; left: 50%;"></div>
    <div class="shape knight" style="top: 60%; left: 80%;"></div>
    <div class="shape rook" style="top: 20%; left: 70%;"></div>
    <div class="shape knight" style="top: 70%; left: 40%;"></div>
    <div class="shape rook" style="top: 50%; left: 15%;"></div>

    <script>

        function guess() {
            window.location.href = "/guess"
        }

        function play() {
            window.location.href = document.getElementById('url').innerHTML;
        }
    </script>
</body>
</html> 
