<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS King Chess Piece</title>
    <link rel="stylesheet" href="static/css/torreyWhiteCheckmateAnimation.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="chess-piece piece1">
                <div class="cross">
                    <div class="vertical"></div>
                    <div class="horizontal"></div>
                </div>
                <div class="crown"></div>
                <div class="neck"></div>
                <div class="body"></div>
                <div class="base"></div>
            </div>
            <div class="chess-piece piece2">
                <div class="cross">
                    <div class="vertical"></div>
                    <div class="horizontal"></div>
                </div>
                <div class="crown"></div>
                <div class="neck"></div>
                <div class="body"></div>
                <div class="base"></div>
            </div>
        </div>
        <div class="check-mate">CHECKMATE
        </div>
        <!--<img src="nahidwin.png" alt="Nah, I'd win" class="nah-id-win">-->
        <button class="menu-button">Exit</button>
        <button class="play-again-button">Play Again</button>
    </div>
</body>
</html>
